/*colors
#cad2c5,84a98c,52796f,354f52,2f3e46
*/


.Places-a, .Places-b {
    width: 175px;
    min-height: 320px;
    background-color: #cad2c5;
    color:#354f52;
    display: inline-table;
    margin: 10px;
    border:2px solid #52796f;
    text-align: center;
    max-width: 950px;
    border-radius: 3px;
}


.places-been, .places-would-like-to-go {
    margin: 0 auto;
    max-width: 950px;
    background-color:#84a98c;
    text-align: center;
    display: block;
}

.page-title, .page-footer {
    background-color:#354f52;
    color: #84a98c;
    display: block;
    text-align:center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width:950px;
    
}
.page-title {
    border-radius: 8px;
    font-size: 40px;
    font-family: calibri;
    font-weight: lighter;
    font-stretch: extra-expanded;
}

    
.page-footer {
    font-family: monospace;
    font-size: 12px;
}

a {
    background-color: #84a98c;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    color: darkred;
    border-radius: 5px;
}


h2 {
    text-align: center;
    margin:0;
    color: #354f52;
    padding:15px;
    border:2px solid #52796f;
    display: block;
    background-color: #cad2c5;
    font-family: calibri;
    font-weight: 500;
}

ul {
    list-style-type: none;
    text-align: left;
    font-family: monospace;
    font-size:12px;
    padding: 0px 0px 20px 15px;
    margin: 0 auto;
}

h3 {
    font-family: calibri;
    font-weight: 300;
}

img {
    padding: 5px;
}