/*colors
#cad2c5,84a98c,52796f,354f52,2f3e46
*/
a {
    background-color: #84a98c;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

h1 {
    display: block;
    text-align: center;
    margin:0 auto;
    color: #354f52;
    padding:5px;
    border:none;
    font-family: monospace;
    font-weight: 400;
}

h2 {
    color: #354f52;
    padding:15px;
    margin: 0 auto;
    border:1px solid #52796f;
    display: inline-block;
    text-align: center;
    font-family: monospace;
    font-weight: 400;
    font-size: 18px;
    
 

    
}

ul {
    text-align: center;
    font-family: monospace;
    font-size:12px;
    padding: 35px;
    margin: 20 auto;
    list-style-type: none;

}
li {
    padding: 30px;
}

a:hover {
        background: white;
        color: #84a98c;
        border: 1px solid #84a98c;
      
}
.fullPage {
        background: radial-gradient(circle farthest-side ,white, #84a98c);
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        padding: 100px 200px 200px 200px;
        width: 75%;

}